*.mod
EXEC
_OBJ
output
*.plot
*.png
*.o
*.vti
*.swp
nohup.out
*.swp
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
.cproject
.project
.settings
*.vti
*.data
*.gif
build/
build_gnu/
test/*.xml
test/tests
.directory
*.x
*.xml
html/
latex/

